/*
variables
*/

$turquiose: #50E3C2;
$white: #fff;
$black: #222424;

/*
transaltor for web
*/


/*
body
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

ul li {
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  }
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    text-decoration: none;
    color: $black;

  }

}
